.background-image {
    
   background-image: url(../../public/bg51.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.androidappline{   
    border-radius: 50px;
    color: #000000;
    text-shadow: -6px 6px 15px rgba(0,0,0,0.5),
      6px -6px 15px rgba(255,255,255,0.8);
    
}

.tagline{
    color: #000000; 
    font-size: 13px;
    margin-left: 41px!important;
    margin-bottom: 8px!important;
}

.backgroundsec1{
    background-color: rgba(237,238,243,255);
}

.backgroundsec2{
    background-color: rgba(19,118,235,255);
}

.smallcards{
    background-color: #f2f5f6;
}

.footerbg{
    height:fit-content;
    background: linear-gradient(
     to right,
     #3082c7 0%,
     #317cc2 10%,
     #2f6fb9 20%,
     #2e67b4 30%,
     #2d5bae 44%,
     #2e2f2e 44%,
     #2e2f2e 100%
    );
}